.form-control {
    width: 300px;
    margin-left: 200px;
}

::placeholder {
    text-align: right;
}

.dropdown {
    margin-left: 75px;
}

.dropdown-menu {
    background-color: rgb(0, 16, 75);
    border: 2px solid rgb(94, 255, 41);
    border-radius: 10px;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: rgb(0, 16, 75);
    color: rgb(94, 255, 41);
}

.carrito {
    margin-top: 25px;
}

.row-footer {
    display: flex;
    background-color: rgb(0, 16, 75);
}

.col-owner {
    color: rgb(94, 255, 41);
    border-top: 2px solid;
    padding-top: 20px;
    justify-content: left;
}

.col-contacto {
    text-align: center;
    color: rgb(94, 255, 41);
    border-top: 2px solid;
    height: 100%;
    padding-top: 20px;
}

.col-redes {
    color: rgb(94, 255, 41);
    border-top: 2px solid;
    padding-top: 20px;
}

.nav {
    justify-content: space-evenly;
    margin-right: 20px;
    margin-left: 175px;
}