.titulo {
    font-size: 40px;
    font-weight: bold;
}

.resultado {
    margin-left: 10px;
}

.decrementar {
    background-color: blue;
    font-weight: bold;
    color: white;
    border: 3px solid blue;
    border-radius: 5px;
    height: 40px;
}

.incrementar {
    background-color: blue;
    font-weight: bold;
    color: white;
    border: 3px solid blue;
    border-radius: 5px;
    height: 40px;
}

.sumarDeA {
    background-color: rgb(255, 157, 0);
    font-weight: bold;
    color: white;
    border: 3px solid rgb(255, 157, 0);
    border-radius: 5px;
    height: 40px;
}

.parametro {
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.borrar {
    background-color: red;
    font-weight: bold;
    color: white;
    border: 3px solid red;
    border-radius: 5px;
    height: 40px;
    width: 115px;
    margin-top: 3px;
}