span {
    font-weight: bold;
    text-align: center;
}
body {
    background-image: url(https://cdn.eleco.com.ar/cdn-cgi/image/format=auto,width=768,quality=60/media/2020/07/Barrio-La-Union-03-07-20-3.jpg);
    margin: 0 auto;
    background-size: cover;
}
.main-text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.main-title:hover {
    color: brown;
}
.main-ul {
    
}
.main-fantasma {
    visibility: hidden;
}