body {
    background-color: rgb(241, 241, 241);
    font-family: monospace;
    color: #000;
}

h1 {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
}

h1:hover {
    color: rgb(6, 187, 30);
}

.col-image {
    text-align: center;
}

img {
    width: 60%;
    height: 150px;
}

p {
    margin: 20px;
    text-align: center;
}

.list {
    padding-left: 100px;
    margin: 20px;
}

.row-inputs {
    margin-top: 20px;
}

.col-input {
    display: flex;
    justify-content: center;
}

input {
    max-width: 160px;
}

input::placeholder {
    font-size: 12px;
    padding: 5px;

}

button {
    border-radius: 5px;
    background-color: rgb(249, 34, 238);
    color: #fff;
    margin-left: 10px;
}

.text-ghost {
    font-size: 30px;
    font-weight: bold;
    visibility: hidden;
}