.container-fluid {
    font-family: Verdana;
    font-size: 14px;
}

body {
    background-color: rgb(0, 16, 75);
}
/* HEADER */

.col-snowflake, .col-btn-header, .col-search, .col-drop {
    display: flex;
    background-color:rgb(0, 16, 75);
    color:rgb(94, 255, 41);
    border-bottom: 3px solid rgb(94, 255, 41);
}

.navbar {
    background-color: rgb(0, 16, 75);
}

.navbar-brand {
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

.navbar-brand:hover {
    color: rgb(94, 255, 41);
}

.icono {
    height: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn-header {
    display: flex;
    justify-content: space-between;
}

.btn-home {
    background-color:rgb(0, 16, 75);
    color: rgb(94, 255, 41);
    font-size: 16px;
    font-weight: bold;
    border: rgb(0, 16, 75);
    margin: 6px;
}

.form-control {
    width: 220px;
    text-align: start;
}

.btn-search {
    background-color:rgb(0, 16, 75);
    color: rgb(94, 255, 41);
    border: rgb(0, 16, 75);
}

::placeholder {
    text-align: right;
}

.dropdown {
    display: flex;
}

.btn-user {
    background-color:rgb(0, 16, 75);
    color: rgb(94, 255, 41);
    border: rgb(0, 16, 75);
    margin-left: 125px;
}

.dropdown-menu {
    background-color: rgb(0, 16, 75);
    border: 2px solid rgb(94, 255, 41);
    border-radius: 10px;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: rgb(0, 16, 75);
    color:rgb(94, 255, 41)
}

/* CARRITO DE COMPRAS */

.row-carrito {
    display: flex;
    background-color: rgb(0, 16, 75);
    color: white;
    margin-top: 10px;
}

.row-inputs {
    display: flex;
}

.myInputProducto, .myInputPrecio, .myInputCantidad {
    height: 25px;
    width: 500px;
    color: white;
    background-color: rgb(0, 16, 75);
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid rgb(94, 255, 41);
    opacity: .7;
    border-radius: 5px;
}

.myInputProducto::placeholder, .myInputPrecio::placeholder, .myInputCantidad::placeholder {
    text-align: start;
    color: white;
    opacity: .7;
}

.myInputProducto[type]:focus, .myInputPrecio[type]:focus, .myInputCantidad[type]:focus {
    background-color: rgb(0, 16, 75);
    box-shadow: 0 0 10px rgb(94, 255, 41);
    outline: none;
}

.col-2 {
    margin: auto;
}
.agregarProducto, .agregarProducto2, .agregarProducto3, .agregarProducto4 {
    background-color:rgb(0, 16, 75);
    color: rgb(94, 255, 41);
    font-weight: bold;
    border: 2px solid rgb(94, 255, 41);
    border-radius: 5px;
}

.row-img {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card {
    background-color: rgb(0, 16, 75);
    color:rgb(94, 255, 41);
    text-align: center;
    border: 2px solid rgb(94, 255, 41);
    border-radius: 7px;
}

.col-carrito {
    border-left: 3px solid rgb(94, 255, 41)
}

.titulo-carrito {
    display: flex;
    font-weight: bold;
    text-decoration: underline;
    justify-content: center;
}

.myList {
    margin-top: 25px;
    text-align: start;
}

.eliminarUltimo, .eliminarOrden, .vaciarCarrito, .calcularCompra {
    background-color:rgb(0, 16, 75);
    color: rgb(94, 255, 41);
    font-weight: bold;
    border: 2px solid rgb(94, 255, 41);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.myInputOrden {
    height: 25px;
    width: 50px;
    color: white;
    background-color: rgb(0, 16, 75);
    margin-left: 10px;
    border: 1px solid rgb(94, 255, 41);
    opacity: .7;
    border-radius: 5px;
}

.myInputOrden::placeholder {
    text-align: start;
    color: white;
    opacity: .5;
}

.myInputOrden[type]:focus {
    background-color: rgb(0, 16, 75);
    box-shadow: 0 0 10px rgb(94, 255, 41);
    outline: none;
}

.titulo-compra {
    display: flex;
    font-weight: bold;
    justify-content: start;
    margin-top: 20px;
    margin-left: 20px;
}

/* FOOTER */

.row-footer {
    display: flex;
    background-color:rgb(0, 16, 75);
    color:rgb(94, 255, 41);
    border-top: 3px solid rgb(94, 255, 41);
}

.col-owner {
    color: rgb(94, 255, 41);
    padding-top: 20px;
    justify-content: left;
    font-weight: bold;
    font-size: 14px;
}

.col-contacto {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: rgb(94, 255, 41);
    height: 100%;
    padding-top: 20px;
}

.col-redes {
    color: rgb(94, 255, 41);
    padding-top: 20px;
}

.nav {
    justify-content: space-evenly;
    margin-right: 20px;
    margin-left: 175px;
}