.navbar {
    background-color: rgb(0, 16, 75);
}

.navbar-brand {
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: 175%;
}

.icono {
    height: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.nav-link {
    color: white;
}

.navbar-collapse {
    justify-content:space-around;
    margin-right: -1080px;
}

.dropdown-menu {
    text-align: right;
}
