.navbar {
    background-color: rgb(0, 16, 75);
}

.navbar-brand {
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: 225%;
}

.icono {
    height: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn {
    color: rgb(94, 255, 41);
}

.btn:hover {
    color: rgb(94, 255, 41);
    border-color: rgb(94, 255, 41);
}