body {
    font-family: "Times New Roman", Arial, Helvetica;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq4_y0fFtkGf14Be_BGGOiRTGn9XIKygbcvg&usqp=CAU);
  }
  h1 {
    color: rgb(255, 0, 0);
    text-align: center;
  }
  h2 {
    color: #1a237e;
    text-decoration: underline;
  }
  h3 {
    color: #1a237e;
    text-decoration: underline;
  }
  p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times;
    font-size: 16px;
    font-style: oblique;
    text-align: justify;
  }
  .prueba {
    font-style: normal;
    font-size: 12px;
    text-align: justify;
  }
  ul li {
    list-style: square;
  }
  ol li {
    list-style: upper-roman;
  }
  
  .bold {
    font-style: bold;
    font-style: normal;
    color: blue;
  }
  
  .bloque1 {
    background-color: yellow;
    border: dashed 4px black;
    padding: 10px;
    margin-left: 75px;
    margin-bottom: 15px;
    width: 750px;
    height: 320px;
  }
  
  .bloque2 {
    background-color: violet;
    border: solid 2px black;
    padding: 5px;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 700px;
    height: 430px;
  }